  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">
          <h4>IyaTG</h4>
          <p>iya.com est une entreprise spécialisée dans la mise à disposition d’artisans de tout genre pour vos travaux
            de réparation, de rénovations, etc.…
            Iya.com vise à offrir aux particuliers, entreprises et artisans le moyen le plus simple pour identifier et
            réaliser tous les travaux.
          </p>
          <div class="social-links mt-3">
            <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
            <a href="https://www.facebook.com/iya.tg" class="facebook" target="_blank"><i
                class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/iya.tg/" target="_blank" class="instagram"><i
                class="bx bxl-instagram"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Nos partenaires</h4>
          <div class="partner-links mt-3">
            <!-- <a href="https://mandisafrica.pro"><img width="40px" src="assets/img/clients/logo-mandis.png"></a> -->
            <a href="https://sigmacorporation.pro"><img width="40px" src="assets/img/clients/logo-sigma.png"></a>
          </div>
          <div class="mt-5">
            <!-- <a href="https://mandisafrica.pro"><img width="40px" src="assets/img/clients/logo-mandis.png"></a> -->
            <!-- <a href="https://play.google.com/store/apps/details?id=com.iyatg.app"><img width="180px"
                src="assets/img/mob.png"></a> -->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Nos services</h4>
          <p>
            <a href="#">1. Mise en relation artisan-client</a><br />
            <a href="#">2. Fourniture de mains d’œuvre </a><br />
            <a href="#">3. Valorisation des artisans</a><br />
            <a href="#">4. Promotion des artisans</a><br />
          </p>
        </div>

      </div>
    </div>
    <div class="container">
      <!-- <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> -->
      <div class="copyright">
        &copy; Copyright <strong><span>IYA</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
        Designed by <a href="https://sigmacorporation.pro/">Iya</a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <div id="preloader" #myLoader></div>
  <a href="#" class="back-to-top"><i class="fa fa-arrow-up"></i></a>
