
<div class="container marg">
  <div class="half-post-entry d-block d-lg-flex bg-light">
    <div class="img-bg" style="background-image: url('assets/images/destination-5.jpg')"></div>
    <div class="contents">
      <h2>IYA-Mot de passe Oublié</h2>
      <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Numéro avec indicatif</label>
          <input type="email"
                 id="email"
                 placeholder="0022890000000 ou +22890000000"
                 [ngClass]="{'form-control': true,
                 'is-invalid': recoverForm.controls['email'].errors && !recoverForm.controls['email'].pristine,
                 'is-valid': !recoverForm.controls['email'].errors && !recoverForm.controls['email'].pristine}"
                 formControlName="email" required>
            <div *ngIf="recoverForm.controls['email'].errors && !recoverForm.controls['email'].pristine"
                 class="text-danger small_font">
                 <p [hidden]="!recoverForm.controls['email'].errors.required">Champ requis est requis.</p>
               </div>
        </div>
        <button class="btn get-started-btn"
                type="submit"
                [disabled]="recoverForm.invalid">Confirmation</button>
      </form>
      <p class="text-danger">{{ errorMessage }}</p>

      <div class="post-meta">
        <span class="date-read"><span class="mx-1"></span><a routerLink="/auth/signin">Connexion</a></span>
      </div>

    </div>
  </div>
</div>
<div class="col-10 offset-1">
  <br/><br/><br/>
<button class="btn get-started-btn scrollto mb-1" routerLink="/">
<i class="fa fa-chevron-left"></i> Retour</button>
</div>