<div class="container marg">
  <div class="half-post-entry d-block d-lg-flex bg-light">
    <div class="img-bg" style="background-image: url('assets/images/destination-5.jpg')"></div>
    <div class="contents">
      <span class="caption">IYA-Création de compte</span>
      <h2>Rédéfinir mot de passe</h2>
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="password"><i class="fa fa-unlock"></i> Mot de passe</label>
                    <input
                      [ngClass]="{'form-control': true,
                            'is-invalid': resetForm.controls['password'].errors && !resetForm.controls['password'].pristine,
                            'is-valid': !resetForm.controls['password'].errors && !resetForm.controls['password'].pristine}"
                      type="password" id="inputPassword" placeholder="Mot de passe" formControlName="password"
                      required="required">
                <div class="text-danger small_font"
                  *ngIf="resetForm.controls['password'].errors && !resetForm.controls['password'].pristine">
                  <span
                    [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                    8 caractères au moins!
                  </span>&nbsp;
                  <span
                    [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                    Doit contenir un nombre!
                  </span>&nbsp;
                  <span
                    [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                    Doit contenir une majuscule!
                  </span>&nbsp;
                  <span
                    [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                    Des minuscules!
                  </span>&nbsp;
                  <span
                    [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                    Doit contenir un caractère spécial!
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="label_display" for="confirmPassword">Confirmer le mot de passe</label>
                  <input
                    [ngClass]="{'form-control': true,
                          'is-invalid': resetForm.controls['confirmPassword'].errors && !resetForm.controls['confirmPassword'].pristine,
                          'is-valid': !resetForm.controls['confirmPassword'].errors && !resetForm.controls['confirmPassword'].pristine}"
                    type="password" id="confirmPassword" placeholder="Confirmer mot de passe"
                    formControlName="confirmPassword" required="required">
                <div
                  *ngIf="resetForm.controls['confirmPassword'].errors && !resetForm.controls['confirmPassword'].pristine"
                  class="text-danger small_font">
                  <p [hidden]="!resetForm.controls['confirmPassword'].errors.required">Champ requis!</p>
                  <p [hidden]="!resetForm.controls['confirmPassword'].hasError('NoPassswordMatch')">Mots de passe
                    non
                    semblables.</p>
                </div>
              </div>

            <button class="btn btn-danger"
                    type="submit"
                    [disabled]="resetForm.invalid">Créer</button>
          </form>
          <p class="text-danger">{{ errorMessage }}</p>

      <div class="post-meta">
        <!-- <span class="d-block"><a href="">Dave Rogers</a> in <a href="#">Food</a></span> -->
        <span class="date-read">Vous avez déjà un compte<span class="mx-1"></span><a routerLink="/auth/signin">Connectez-vous</a></span>
      </div>

    </div>
  </div>
  </div>
  <div class="col-10 offset-1">
    <br/><br/><br/>
  <button class="btn get-started-btn scrollto mb-1" routerLink="/">
  <i class="fa fa-chevron-left"></i> Retour</button>
  </div>
