<div class="col-12">
  <h1>Liste des commandes</h1>
  <div class="mat-elevation-z8 table-responsive">
    <table class="table table-striped" [svData]="commandes" #sv="svDataTable" [svRowsOnPage]="25" svSortBy="name"
      svSortOrder="asc">
      <thead>
        <tr>
          <th>
            <sv-default-sorter>Numero</sv-default-sorter>
          </th>
          <th>Nom et prénoms</th>
          <th>Code</th>
          <th>Téléphone</th>
          <th>Adresse</th>
          <th>Quantité</th>
          <th>Coordonnées</th>
          <th>Medias</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of sv.data; let i = index">
          <td>{{ i+1}}</td>
          <td>{{item.fullname}}</td>
          <td>{{item.productcode}}</td>
          <td>{{item.telephone}}</td>
          <td>{{item.adresse}}</td>
          <td>{{item.nombre}}</td>
          <td>Long:{{item.longitude}} Lat:{{item.latitude}}</td>
          <td><button class="btn btn-outline-secondary picture" (click)="open(content, item.productcode)"
              type="button"><i class="fa fa-image"></i></button></td>
          <td>
            <mat-slide-toggle [(ngModel)]="item.isTreat" (click)="onActivate(item.id)">
              {{item.isTreat ? 'Annuler' : 'Traiter'}}</mat-slide-toggle>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Média</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <gallery [items]="images"></gallery>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
  </div>
</ng-template>
