  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top mb-5" style="background-color: #6b6a6a !important;">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-between">
          <!-- <h1 class="logo"><a routerLink="/">Iya</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="/#hero" class="logo"><img src="assets/img/iyalogo.png" alt="" heigth="100" class="img-fluid"></a>
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li><a href="tel:+22870511542"><i class="icofont-phone"></i> +228 7051 1542</a></li>
              <li><a href="/#hero">Accueil</a></li>
              <!-- <li><a href="/boutique">Boutique</a></li> -->
              <li><a href="/annonces">Annonces</a></li>
              <li class="active"><a href="/blog">Blog</a></li>
              <!-- <li><a href="/#contact">Contact</a></li>
              <li *ngIf="!email"><a routerLink="/auth/signup">S'inscrire en tant qu'Artisan</a></li> -->

            </ul>
          </nav><!-- .nav-menu -->
          <ul class="link-adjust" style="display:flex;margin-top: 2% !important;">
            <li><a routerLink="/boutique" class="get-success-btn">Boutique</a></li>
            <li><a routerLink="/dashboard" class="get-started-btn">Espace client</a></li>
            <li><a routerLink="/dashboard" class="get-yellow-btn">Espace Artisans</a></li>
          </ul>
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog mt-5">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-12 box wow bounceInUp">
          <div class="section-title text-black">
            <h2>Blog</h2>
          </div>
        </div>
        <div class="col-lg-8 entries">

          <article class="entry" *ngFor="let blog of blogs | paginate: { itemsPerPage: 4, currentPage: p }">

            <div class="entry-img">
              <img src="{{imgUrl}}{{blog.images | split: ',': 0 }}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a (click)="onDetail(blog.id, blog.title)">{{blog.title}}</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="fa fa-user"></i> <a
                    (click)="onDetail(blog.id, blog.title)">{{blog.auteur}}</a></li>
                <li class="d-flex align-items-center"><i class="fa fa-clock"></i> <a
                    (click)="onDetail(blog.id, blog.title)"><time
                      datetime="2020-01-01">{{blog.createdAt | date:'short'}}</time></a></li>
                <li class="d-flex align-items-center"><i class="fa fa-eye"></i> <a
                    (click)="onDetail(blog.id, blog.title)">{{blog.vues}}</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p [innerHtml]="(blog.article.length>50)? (blog.article | slice:0:50)+'...':(blog.article)">

              </p>
              <div class="read-more">
                <a (click)="onDetail(blog.id, blog.title)">Lire plus</a>
              </div>
            </div>

          </article><!-- End blog entry -->

          <div class="blog-pagination">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>

        </div><!-- End blog entries list -->

        <div class="col-lg-4">

          <div class="sidebar">

            <!-- <h3 class="sidebar-title">Search</h3>
            <div class="sidebar-item search-form">
              <form action="">
                <input type="text">
                <button type="submit"><i class="bx bx-search"></i></button>
              </form>
            </div> -->
            <!-- End sidebar search formn-->

            <h3 class="sidebar-title">Tags</h3>
            <div class="sidebar-item tags">
              <ul>
                <li><a href="#">Iya</a></li>
                <li><a href="#">Artisan</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Ouvriers</a></li>
                <li><a href="#">Chantiers</a></li>
              </ul>
            </div><!-- End sidebar tags-->

          </div><!-- End sidebar -->

        </div><!-- End blog sidebar -->

      </div>

    </div>
  </section><!-- End Blog Section -->
  <app-footer></app-footer>
